// .section-about {
//   background-color: $color-grey-light-1;
//   padding: 25rem 0;
//   margin-top: -20vh;
// } 

.section-about {
  // background-color: $color-grey-light-1;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-grey-light-1, 0.8), 
    rgba($color-grey-light-2, 0.8)),
    url(./../../assets/instruments-large.jpeg);
  padding: 30rem 0;
  margin-top: -30vh;
} 